<form  action="{{path('recherche_produit')}}" method="POST" class="navbar-form form-search pull-right">
    
    {{ form_widget(form.recherche) }}
    {{ form_widget(form.Rechercher) }}
     
    <!--input id="Search" name="Search" type="text" class="input-medium search-query"-->
    <!--button type="submit" class="btn">Rechercher</button-->
    {#{ form_widget(form) }#}
    
</form>