<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{path('produits')}}">Site E-Commere</a>
            <div class="nav-collapse collapse">
               {% render(controller('EcommerceBundle:Produits:searche')) %}
            </div>
        </div>
    </div>
</div>