 <div class="well">
        <ul class="nav nav-list">
          
            <li>
                <a href="{{path('fos_user_security_login')}}">Se connecter</a> <!-- connexion.php -->
            </li>
            <li>
                <a href="#">S'inscrire</a> <!-- inscription.php -->
            </li>
        </ul>
         
    </div>